/* eot: IE
eot?#iefix: IE 6 ~ 8
woff:  Modern Browsers
ttf: Safari, Android, iOS */

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 100;
  src: url('./NanumBarunGothicUltraLight.eot'),
    url('./NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
    url('./NanumBarunGothicUltraLight.woff') format('woff'),
    url('./NanumBarunGothicUltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('./NanumBarunGothicLight.eot'),
    url('./NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
    url('./NanumBarunGothicLight.woff') format('woff'),
    url('./NanumBarunGothicLight.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 500;
  src: url('./NanumBarunGothic.eot'),
    url('./NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
    url('./NanumBarunGothic.woff') format('woff'),
    url('./NanumBarunGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 800;
  src: url('./NanumBarunGothicBold.eot'),
    url('./NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
    url('./NanumBarunGothicBold.woff') format('woff'),
    url('./NanumBarunGothicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('./Raleway-Light.eot'),
    url('./Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('./Raleway-Light.woff') format('woff'),
    url('./Raleway-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('./Raleway-Regular.eot'),
    url('./Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('./Raleway-Regular.woff') format('woff'),
    url('./Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('./Raleway-ExtraBold.eot'),
    url('./Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./Raleway-ExtraBold.woff') format('woff'),
    url('./Raleway-ExtraBold.ttf') format('truetype');
}
