body{line-height:1.2;}
html{font-size:12px;}
img{max-width:100%; vertical-align:top;}
button{padding:0; border:0; outline:0; cursor:pointer; background-color:transparent;}
a:link{color:#000; text-decoration:none;}
a:visited{color:#000; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}
input{padding:0; border:0; border-radius:0; background-color:transparent; -webkit-box-shadow:none; box-shadow:none; outline:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input::placeholder{color:#b7b7c8;}
input:-ms-input-placeholder{color:#b7b7c8;}
.blind{position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}